@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
@import 'bootstrap/dist/css/bootstrap.min.css';
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(90deg, #410076, #8820dd);
}
body {
  padding: 0;
  margin: 0;
}
.emp-details{
  width: 40vw;
  height: 10vh;
  top : 400px;
  right :350px;
  position : fixed;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: white;
  font-size: 50px;
}


